html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app .btn {
  position: absolute;
  top: 3%;
  cursor: pointer;
  width: fit-content;
  padding: 4px;
  border-radius: 3px;
  background-color: black;
  color: white;
}

#make {
  left: 10px;
  z-index: 99;
}

#remove {
  left: 90px;
  z-index: 99;
}

#app {
  width: 100%;
  height: 100%;
}

#app .grid-canvas {
  width: 100%;
  height: 100%;
}

#app .grid-canvas .line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: black;
}

#app .game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app .game .activity {
  position: absolute;
  height: 200px;
}

#app .game .activity .img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app .game .activity .content {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9;
  padding: 3px 0 3px 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  color: white;
}

#app .game .total-score {
  position: absolute;
  top: 3%;
  right: 12px;
  padding: 4px;
  border-radius: 3px;
  background-color: tomato;
  color: white;
  z-index: 999;
}

#app .game .remain-time {
  position: absolute;
  top: 3%;
  left: 50%;
  font-size: larger;
  font-weight: bold;
  transform: translate(-50%, 3%);
}

#app .game .score-table {
  position: absolute;
  top: 100px;
  left: 450px;
}

#app .game .score-table .textcontainer {
  padding: 40px 0 10px 0;
  text-align: center;
}

#app .game .score-table .particletext {
  text-align: center;
  font-size: xx-large;
  position: relative;
}

#app .game .score-table .particletext.confetti > .particle {
  opacity: 0;
  position: absolute;
  animation: confetti 3s ease-in infinite;
}

#app .game .score-table .particletext.confetti > .particle.c1 {
  background-color: rgba(76, 175, 80, 0.5);
}

#app .game .score-table .particletext.confetti > .particle.c2 {
  background-color: rgba(156, 39, 176, 0.5);
}

#app .game .score-table .score {
  text-align: center;
  font-size: large;
}


@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}