html, body, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Anonymous Pro', monospace;
}

a {
  text-decoration: none;
  color: black;
}

#app .btn {
  position: absolute;
  top: 3%;
  cursor: pointer;
  width: fit-content;
  padding: 4px;
  border-radius: 3px;
  background-color: black;
  color: white;
}

#change {
  left: 20px;
  z-index: 99;
}

#effect {
  left: 120px;
  z-index: 99;
}

#app .activity {
  width: 100%;
  height: 100%;
}

#app .activity .total-score {
  position: absolute;
  min-width: 58px;
  text-align: center;  
  top: 3%;
  right: 3%;
  padding: 12px 18px 12px 18px;
  border-radius: 8px;
  background-color: #343f4f;
  font-size: xx-large;
  color: white;
  z-index: 999;
}

#app .activity .remain-time {
  position: absolute;
  top: 3%;
  left: 50%;
  font-size: xx-large;
  font-weight: bold;
  transform: translate(-50%, 3%);
  padding: 12px 18px 12px 18px;
  border-radius: 8px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

#app .activity .try-it {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: fill;
}

#app .effect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#app .effect .score-table {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
  color: white;
  z-index: 120;
}

#app .effect .score-table.fail {
  background: rgba(255, 125, 0, 0.15);
}

#app .effect .score-table .textcontainer {
  padding: 25px 0 10px 0;
  text-align: center;
}

#app .effect .score-table .particletext {
  text-align: center;
  font-size: 56px;
  position: relative;
}

#app .effect .score-table .particletext.confetti > .particle {
  opacity: 0;
  position: absolute;
  animation: confetti 3s ease-in infinite;
}

#app .effect .score-table .particletext.confetti > .particle.c1 {
  background-color: rgba(76, 175, 80, 0.5);
}

#app .effect .score-table .particletext.confetti > .particle.c2 {
  background-color: rgba(156, 39, 176, 0.5);
}

#app .effect .score-table .particletext.fire > .particle {
  position: absolute;
  background-color: rgba(255, 193, 7, 0.5);
  border-radius: 40px;
  border-top-right-radius: 0px;
  animation: fires 0.8s linear infinite;
  transform: rotate(-45deg);
  opacity: 0;
}

#app .effect .score-table .particletext.fire > .particle:before {
  position: absolute;
  content: '';
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 40px;
  border-top-right-radius: 0px;
  background-color: rgba(251, 140, 0, 0.5);
}

#app .effect .score-table .score {
  text-align: center;
  font-size: 48px;
}

#app .webcam {
  position: absolute;
  background: white;
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 150px;
  height: 200px;
  right: 3%;
  bottom: 12%;
  z-index: 99;
}

#app .webcam .you {
  margin-top: -25px;
  text-align: end;
  font-weight: bold;
  font-size: large;
}

#app .webcam canvas {
  width: 100%;
  height: 100%;
}

#app .game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 2s ease;
  opacity: 1;
  background-image: url(../img/homeFit.png);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app .game-over div {
  margin-top: 1em;
}

#app .game-over .title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

#app .game-over .my-score {
  font-size: xx-large;
  text-align: center;
}

#app .game-over .content {
  text-align: center;
}

#app .game-over .best-scene {
  height: 300px;
}

#app .game-over .best-scene .scene {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#app .game-over .box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#app .game-over .box div {
  cursor: pointer;
  background: #343f4f;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 12px;
}

#app .game-over .box div a {
  color: white;
}

#app .game-over.hide {
  opacity: 0;
}

@keyframes fires {
  0% {
    transform: rotate(-70deg) translateY(0%);
 }
  25% {
    transform: rotate(-20deg) translateY(-5%);
    opacity: 1;
 }
  50% {
    transform: rotate(-70deg) translateY(-10%);
 }
  75% {
    transform: rotate(-20deg) translateY(-20%);
 }
  100% {
    transform: rotate(-70deg) translateY(-40%);
    opacity: 1;
 }
}

@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
.webcamContainer{
  position: fixed;
  right: 170px;
  bottom : 200px;
}

.try-it{
  width: 100vw;
  height: 100vh;
}