html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

#app .canvas {
  width: 100%;
  height: 100%;
}

#app .canvas .line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: black;
}

#app .game {
  position: absolute;
  top: 0;
  left: 0;
}

#app .game .activity {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 200px;
  height: 200px;
}

#app .game .activity .img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app .game .activity .content {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9;
  padding: 3px 0 3px 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  color: white;
}

/* #app .game .img {
  position: fixed;
}

#app .game .btn {
  width: fit-content;
} */