@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

body {
	font: 24px/30px 'Noto Sans CJK KR', Noto Sans KR, sans-serif;
    margin : 0;
    /* overflow: hidden; */
}

video {
    width: 100%;
    /* position: absolute; */
    z-index: -1;
    /* height: 500px; */
}

.videoContainer{
    position: fixed;
    top : 0;
    width: 100%;
    height: 100%;
}

.opacityBlock{
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    width: 100vw;
    /* height: 56.25vw; */
    height: 100vh;
    z-index: 9;
}

.container{
    padding-top: 50px;
    width: 100%;
    position: absolute;
    z-index: 99999;
}

.content{
    width: 100%;
    position: absolute;
    z-index: 99999;
    padding-top: 50px;
}

.titleContainer{

}

.title{
    font-weight: bold;
    font-size: 2rem;
    color : #fff;
    padding-left: 30px;
}

.title2{
    font-weight: bold;
    font-size: 2rem;
    color : #fff;
    padding-left: 30px;
}

.startButtonContainer{
    width :100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    /* margin-bottom: 50px; */
}


.gameStart_button {
    position: relative;
    background-color: #7950f2;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
}

.guideContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.temp1 {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    width : 70vw;
    align-items: center;

}

.imgNotebook{
    width: 380px;
    height: 300px;
}

.temp1TextBoxTitle {
    font-weight: bold;
    font-size: 2rem;
    color : #fff;
    margin-bottom: 10px;

}
.temp1TextBoxText{
    font-weight: bold;
    font-size: 1rem;
    color : #fff;
}

.temp2TextBoxText{
    font-weight: bold;
    font-size: 1rem;
    color : #fff;
}


.front, .back{
    width: 500px;
    height: 300px;
}